*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: hsl(218, 23%, 16%);

}
.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323a49;
  width: 28rem;
  border-radius: 20px;
  text-align: center;
  padding: 2rem 3rem;
  justify-content: center;
  margin: auto;
  margin-top: 10%;

}
.card_number {
  color: #52ffa8;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Manrope', sans-serif;

}

.card_text {
  color: #cee3e9;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 2.4rem;
  font-family: 'Manrope', sans-serif;
}

.card_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  padding: 1.1rem;
  border: none;
  background-color: #52ffa8;
  bottom: 0;
  transform: translateY(50%);
  cursor: pointer;
  transition: all 0.2s;
}

.card_button:hover {
  box-shadow: 0 0 36px #52ffa8;
}
.divider {
  margin-bottom: 2rem;
}

@media(max-width:762px){
  .container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #323a49;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 2rem 3rem;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
  
  }
  .divider {
    margin-bottom: 2rem;
    /* width: 100%; */
    /* border: solid red; */
  }
}



